* {
  box-sizing: border-box;
}

#btn-back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  z-index: 1;
}

.back1 {
    background-image: url("images/bizkimik1/close-up-woman-harvesting-garden.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    margin-top: 10px;
}

.back_1 {
  position: relative;
  top: 0;
}

.back_25 {
  position: absolute;
  bottom: -100px;
  right: 110px;
}


.button1 {
    background-color: #91B40D;
    border: none;
    font-family: "Cormorant Garamond";
    text-align: center;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0%;
    background-image:url("images/bizkimik1/Group\ 438.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    border-radius: 5px;
  }


.box{
    position: relative;
}

.input {
    width: 40px;
    height: 40px;
    background: none;
    border: 2px solid transparent;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: "Cormorant Garamond";
    font-size: 20px;
    color: black;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 200px;
    background: white;
    border-radius: 10px;
}

@media screen and (max-width: 992px) {
  .box:hover input {
      width: 100%;
  }
}

.box:hover input:hover{
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}

.box:hover input:focus{
    border-color: #91B40D;
}

@media screen and (max-width: 992px) {
  .box:hover input {
    border-color: #91B40D;
  }
}

.box i{
    position: absolute;
    top: 50%;
    left: 17px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: black;
    transition: .2s;
}
@media screen and (max-width: 992px) {
  .box i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}



.button2 {
    background-color: none;
    border: none;
    font-family: "Cormorant Garamond";
    text-align: center;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0%;
  }

.button2:hover {
    background-color: #91B40D;
    border-radius: 5px;
}

.back2 {
    background-image: url("images/bizkimik1/Path\ 4340.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.pic5 {
    background-image: url("images/bizkimik2/Group\ 417.png");
    background-position: top left;
    background-repeat: no-repeat;
}

.elaqe_img_1 {
    background-color: white; 
    padding: 30px; 
    border-radius: 50%; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    position: absolute;
    top: -50px;
    left: 37%;
}


textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:active,
button:focus
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}


.back15 {
  margin-bottom: -80px;
}

@media screen and (max-width: 992px) {
  .back15 {
      margin-bottom: -85px;
  }
}